#Complete the EDA with SQL

In [6]:
!pip install ipython-sql
%load_ext sql
! pip install pandas
!pip install sqlalchemy
print("Done")

Requirement already satisfied: ipython-sql in c:\users\15129\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\15129\anaconda3\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\15129\anaconda3\lib\site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\15129\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\15129\anaconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\15129\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\15129\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\15129\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\15129\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\15129\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\15129\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\15129\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\15129\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\15129\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\15129\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: pandas in c:\users\15129\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\15129\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\15129\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\15129\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\15129\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\15129\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in c:\users\15129\anaconda3\lib\site-packages (2.0.25)Done

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\15129\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\15129\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [8]:
import csv, sqlite3
con = sqlite3.connect("my_data1.db")
cur = con.cursor()
print("Done")

Done

In [10]:
!pip install -q pandas
%sql sqlite:///my_data1.db
import pandas as pd
print("Done")

Done

In [11]:
df = pd.read_csv("Spacex.csv")

In [12]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [13]:
#DROP THE TABLE IF EXISTS
%sql DROP TABLE IF EXISTS SPACEXTABLE;
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.
 * sqlite:///my_data1.db
Done.

[]

Tasks
Now write and execute SQL queries to solve the assignment tasks.
Note: If the column names are in mixed case enclose it in double quotes For Example "Landing_Outcome"

### Task 1: Display the names of the unique launch sites in the space mission

In [16]:
file_path = "Spacex.csv"
df = pd.read_csv(file_path, header=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    object
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing_Outcome    101 non-null    object
dtypes: int64(1), object(9)
memory usage: 8.0+ KB

In [19]:
%%sql
select DISTINCT Launch_site from SPACEXTBL ORDER BY Launch_site

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task2: Display 5 records where launch sites begin with the string 'CCA'

In [25]:
%%sql
select
    distinct Launch_site
from
    SPACEXTBL
where
    Launch_site like "CCA%"
order by Launch_site

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',)]

### Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)

In [29]:
%%sql
select sum(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4: Display average payload mass carried by booster version F9 v1.1

In [32]:
%%sql
select
    avg(PAYLOAD_MASS__KG_)  AVERAGE_PAYLOAD_MASS__KG_
from
    SPACEXTBL
where
    Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5: List the date when the first successful landing outcome in ground pad was achieved.
#### Hint: Use min function

In [35]:
%%sql
select
    min(Date), Landing_Outcome
from
    SPACEXTBL
where
Landing_Outcome like "%pad%"

 * sqlite:///my_data1.db
Done.

[('2015-12-22', 'Success (ground pad)')]

### Task 6: List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [38]:
%%sql
select
    Booster_Version, PAYLOAD_MASS__KG_, Landing_Outcome
from
    SPACEXTBL
where
Landing_Outcome like "%Success (drone%" and PAYLOAD_MASS__KG_>4000 and PAYLOAD_MASS__KG_<6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)')]

### Task 7: List the total number of successful and failure mission outcomes

In [41]:
%%sql
select
count( CASE WHEN Landing_Outcome like ("Fail%") THEN 1 end ) AS 'Total Number Failure',
count( CASE WHEN Landing_Outcome like ("Succ%") THEN 1 end ) AS 'Total Number Successfull'
from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[(10, 61)]

### Task 8: List the names of the booster_versions which have carried the maximum payload mass
### Use a subquery

In [44]:
%%sql
select
    Booster_version, PAYLOAD_MASS__KG_
from SPACEXTBL
where PAYLOAD_MASS__KG_ = 
    (select MAX(PAYLOAD_MASS__KG_)
    from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9 List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.
Note: SQLLite does not support month names. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.

In [47]:
%%sql
select
    'Date','Failure Landing Drone Ship', Booster_Version, Launch_site
from SPACEXTBL
where 'Date' between

 * sqlite:///my_data1.db
(sqlite3.OperationalError) incomplete input
[SQL: select
    'Date','Failure Landing Drone Ship', Booster_Version, Launch_site
from SPACEXTBL
where 'Date' between]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 10: 
Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [50]:
%%sql
select
    Landing_Outcome
from SPACEXTBL
where
Date between '2010' and '2017'
group by Landing_Outcome

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Uncontrolled (ocean)',)]

In [52]:
#### A function to Extract years from the date 
year=[]
def Extract_year():
    for i in 'Date':
        year.append(i.split("-")[0])
    return year
Extract_year()
Date = year
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt